In [2]:
import pandas as pd 
df = pd.read_csv('/Users/abay/Downloads/fifa_players.csv')

df['positions']

0         CF,RW,ST
1        CAM,RM,CM
2           CM,CAM
3            LW,ST
4               CB
           ...
17949    RM,CAM,CM
17950           LB
17951           GK
17952        ST,LM
17953           ST
Name: positions, Length: 17954, dtype: object

In [3]:
# Top 10 Players Based On Overall Rating

In [4]:
df_10 = df.sort_values(by='overall_rating',ascending=False).head(10)
df_10_pv = df_10.pivot_table(index='name', values='overall_rating', aggfunc='min').sort_values(by='overall_rating',ascending=False)
df_10_pv

                   overall_rating
name
Cristiano Ronaldo              94
L. Messi                       94
Neymar Jr                      92
De Gea                         91
E. Hazard                      91
K. De Bruyne                   91
L. Modrić                      91
L. Suárez                      91
J. Oblak                       90
R. Lewandowski                 90

In [1]:
# Avg Overall Rating Of Each Line(defence, midfied, attack)

UsageError: Line magic function `%` not found.

In [2]:
# Min and Max rating for each line

In [5]:
df_line = df.copy() 
def line(row):
    if any(position in row for position in ['GK', 'CB', 'LB', 'RB']):
        return 'Defence'
    if any(position in row for position in ['CDM', 'CM', 'LM', 'RM', 'CAM']):
        return 'Midfield'
    else:
        return 'Attack'
    
df_line['positions'] = df_line['positions'].apply(line)
df_line_min = df_line.groupby('positions')['overall_rating'].median()
df_line_max = df_line.groupby('positions')['overall_rating'].median()

print('Min overall rating for each line is ', df_line_min)
print('Max overall rating for each line is ', df_line_max)

Min overall rating for each line is  positions
Attack      66.0
Defence     66.0
Midfield    67.0
Name: overall_rating, dtype: float64
Max overall rating for each line is  positions
Attack      66.0
Defence     66.0
Midfield    67.0
Name: overall_rating, dtype: float64