In [1]:
# Importing libraries and data
import pandas as pd 
import matplotlib as plt
# reading data
df = pd.read_csv('/Users/abay/Downloads/fifa_players.csv')

Creating the pivot table : Top 10 players based on overall rating

In [3]:
df_10 = df.sort_values(by='overall_rating',ascending=False).head(10)
df_10_pv = df_10.pivot_table(index='name', values='overall_rating', aggfunc='max').sort_values(by='overall_rating',ascending=False)
df_10_pv

                   overall_rating
name
Cristiano Ronaldo              94
L. Messi                       94
Neymar Jr                      92
De Gea                         91
E. Hazard                      91
K. De Bruyne                   91
L. Modrić                      91
L. Suárez                      91
J. Oblak                       90
R. Lewandowski                 90